html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #3b3b3b;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 6px;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 23px;
  background: #e4e5d2;
  padding: 50px 20px;
  text-align: center;
}
.wrapper h1 {
  font-family: "Open Sans", sans-serif;
  position: relative;
  color: #5c2610;
  font-size: 3em;
  font-weight: normal;
  line-height: 1;
  padding: 10px 0;
  margin: 0;
  display: inline-block;
}
.wrapper h1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 200%;
  border-radius: 50%/30%;
  border: 6px solid #5c2610;
  border-left-color: transparent;
  border-right-color: transparent;
}
.wrapper h2 {
  font-size: 3em;
  text-shadow: -2px -2px 3px rgb(163, 162, 162);
}
.wrapper .timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: baseline;
  margin: auto;
}
.wrapper .indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.wrapper .button {
  display: inline-block;
  border: 20px solid #e7ff0a;
  color: #efff08;
  border-radius: 17px 17px 17px 17px;
  -webkit-border-radius: 17px 17px 17px 17px;
  -moz-border-radius: 17px 17px 17px 17px;
  font-family: Arial Black;
  width: auto;
  height: auto;
  font-size: 50px;
  margin: 20% 20%;
  padding: 40px 40px;
  box-shadow: inset 0 1px 0 0 #512eff, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d, 0 2px 4px 0 #d4d4d4;
  -moz-box-shadow: inset 0 1px 0 0 #512eff, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d, 0 2px 4px 0 #d4d4d4;
  -webkit-box-shadow: inset 0 1px 0 0 #512eff, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d, 0 2px 4px 0 #d4d4d4;
  background-image: linear-gradient(to top, #4254fc, #3628fc);
  background-color: #170ffc;
}
.wrapper .button:hover, .wrapper .button:active {
  border: 20px solid #967d09;
  color: #ffd410;
  box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d;
  -moz-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d;
  -webkit-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d;
  background-color: #fcdf5b;
}
.wrapper .digit-minute {
  font-weight: normal;
  font-size: 6em;
  margin: 100px auto;
  cursor: pointer;
  text-shadow: -1px -1px #fff, -2px -2px #fff, -1px 1px #fff, -2px 2px #fff, 1px 1px #fff, 2px 2px #fff, 1px -1px #fff, 2px -2px #fff, -3px -3px 2px #bbb, -3px 3px 2px #bbb, 3px 3px 2px #bbb, 3px -3px 2px #bbb;
  color: steelblue;
  transition: all 1s;
}
.wrapper .start-button {
  text-decoration: none;
  display: inline-block;
  padding: 15px 30px;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #f137a6 inset, 0 0 0 0 #f137a6;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: 0.15s ease-in-out;
}
.wrapper .start-button:hover {
  box-shadow: 0 0 10px 0 #f137a6 inset, 0 0 10px 4px #f137a6;
  color: #f137a6;
}
.wrapper .hidden {
  display: none;
}
.wrapper footer {
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

/*# sourceMappingURL=main.css.map */